* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2D2D2D;
    
    font-family: Arial, sans-serif;
    background-color: #F4F4F9;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.navbar-brand,
.nav-link {
    color: #FFFFFF;
    
    text-decoration: none;
}

.nav-link:hover {
    color: #F87171;
    
}

.nav-link.active {
    color: #FBBF24;
    
}


.btn {
    background-color: #2563EB;
    
    color: #FFFFFF;
    
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1D4ED8;
    
}


.container {
    background-color: #FFFFFF;
    
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}


a {
    color: #2563EB;
    
    text-decoration: none;
}

a:hover {
    color: #F87171;
    
}


.sub {
    font-size: 1.2rem;
    margin-top: 50px;
    color: #374151;
    
}


.tela_inicial {
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    color: #1F2937;
    
}


#titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    color: #a83232; 
    font-weight: bold; 
}

#sub_titulo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #d46a6a; 
    font-style: italic; 
}


#imagem_gente {
    margin-right: 4px;
    height: 600px;
    width: 800px;
    border-radius: 6px;
    float: right;
    margin-bottom: 20px;
}


#descricao_nossa_loja {
    color: #6B7280;
    
    margin-right: 580px;
    margin-top: 100px;
    display: flex;
}


.div,
.impressora_3d {
    display: flex;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 1.3rem;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
}


#impressora {
    margin-right: 4px;
    height: 400px;
    width: 400px;
    border-radius: 6px;
}


#descricao_impressora {
    color: #374151;
    margin-left: 50px;
    text-align: center;
}

.cabeça {
    font-size: 2rem;
    margin-top: 160px;
    color: #1F2937;
    
}


#algum_de_nossos_produtos {
    position: relative;
    width: 100%;
    max-width: 730px;
    margin: auto;
    overflow: hidden;
    height: 800px;
    margin-top: -20px;
}


.slides {
    display: flex;
    animation: slideAnimation 25s infinite;
}

.slides img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}


@keyframes slideAnimation {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}


.nossa_equipe,
.descricao_equipe {
    margin-top: 60px;
    font-size: 1.3rem;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: #374151;
    
}

@media (max-width: 789px) {
    img {
        height: auto;
        width: auto
    }
    .col-md-4 img {
        width: 145%;
    }
}

@media (width: 480px) {

    * {
        padding: 10px;
    }

    img {
        height: auto;
        width: auto
    }

    .col-md-4 img {
        width: 80%;

    }

    .col-md-4 {
        margin-left: 60px;

    }

    .col-md-4 p {
        margin-right: 100px;
        margin-top: 20px;
        text-align: justify
    }

    .col-md-6 p {
        margin-left: 50px;
        margin-right: 40px;
        margin-top: 20px;
        margin-left: 100px;
    }

    #epi_img {
        margin-left: 130px;
        height: auto;
        width: 45%;
    }
}